@import "../../styles/config.scss";

.piercing {
    display: flex;
    flex-direction: column;
    color: $light;
    width: 100%;
    margin-bottom: 5em;
    
    &__header {
        margin: 1.75em auto;
        text-align: center;
    }

    &__row {
        @include xs {
            display: flex;
            justify-content: center;
            margin: auto;
            overflow: hidden;
        }
        @include lg {
        }
    }

    &__text {
        @include xs {
            margin: 1em;
        }
        @include lg {
            width: 75%;
            margin: 5em;
        }
        
    }

    &--image {
        @include xs {
            display: none;
        }
        @include sm {
            display: flex;
            margin: auto;
            object-fit: cover;
            max-height: 35em;
            width: 45%;
        }

        @include lg {
            display: flex;
            margin: 0;
            max-height: 100%;
            width: 25%;
        }
    }
}

