
.appointment {
    background: url("../../assets/images/bg-image-leaves.webp");
    background-attachment: fixed;
    background-position: center;
    background-color: $dark;
    color: $light;
    height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        width: fit-content;
        margin: auto;
    }

    &__text {
        text-align: center;
    }

    &__iframe {
        width: 90%;
        height: 60%;
        border: none;
        margin: 3em auto;

        @include breakpoint("l") {
            width: 60%;
        }
    }
}