@import "./utilities.scss";

//variables

$dark: #080808;
$light: #F0F0F0;
$red: #820606;
$specialFont: "Playfair Display";


//spacing

.standard--width {
    @include xs {
        width: 95%;
    }
    @include xl {
        width: 1280px;
    }
}

.small--width {
    @include xs {
        width: 90%;
    }@include sm {
        width: 85%;
    }
    @include md {
        width: 576px;
    }
}

.standard--center {
    display: flex;
    align-items: center;
}


//stylings
.rounded-cor {
    border-radius: 8px;
}

.info-wrapper {
    background-color: rgba(255,255,255, 0.1);
    border: 1px solid white;

}


//headers

.header {
    font-family: $specialFont;
    width: fit-content;
    text-align: center;

    &--large {
        @include xs {
            font-size: 2em;
        }
        @include md {
            font-size: 3em;
        }
        @include lg {
            font-size: 4em;
        }
    }

    &--medium {
        @include xs {
            font-size: 1.25em;
            margin: 1em auto;
        }
        @include lg {
            font-size: 2em;
            margin: 1em auto;
        }
    }

    &--small {
        @include xs {
            font-size: 1em;
        }
        @include lg {
            font-size: 1.5em;
        }
    }
}


//texts

.text {
    &--large {
        @include xs {
            font-size: 1em;
        }
        @include lg {
            font-size: 2em;
        }
    }

    &--medium {
        @include xs {
            font-size: 1em;
        }
    }
}


//buttons

.btn--large {
    @include xs {
        font-size: 0.75em;
        height: 8em;
    }
    @include md {
        font-size: 1em;
        height: 7.5em;
    }
    @include lg {
        font-size: 1.5em;
        height: 7em;
    }
    @include lg {
        font-size: 2em;
        height: 6em;
    }

}

.btn--medium {
    @include xs {
        font-size: 0.75em;
        height: 5em;
    }
    @include md {
        font-size: 1em;
        height: 4em;
    }
    @include lg {
        font-size: 1.5em;
        height: 3.7em;
    }
    @include lg {
        font-size: 2em;
        height: 3.25em;
    }
    
}

.btn--small {
    @include xs {
        font-size: 0.75em;
        height: 3em;
    }
    @include md {
        font-size: 1em;
        height: 3em;
    }
    @include lg {
        font-size: 1.5em;
        height: 3em;
    }
    @include lg {
        font-size: 2em;
        height: 3em;
    }
}


//icons

.icon--large {
    width: 1.5em;
    height: 1.5em;
}


//inputs 

.input--standard {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
}