.team {
    padding: 5em 0;
    background: url("../../assets/images/bg-image-leaves.webp");
    background-size: cover;
    background-attachment: fixed;

    &__header {
        color: $light;
        width: fit-content;
        text-align: center;
    }

    &-wrapper {
        width: 90vw;
        margin: 0 auto;
        margin-top: 5em;
        overflow-x: scroll;

        @include breakpoint("xl") {
            overflow: hidden;
        }
    }

    &-scroller {
        display: flex;
        margin: 0 auto;
        padding: 0 20%;
        height: auto;
        width: fit-content;
        justify-content: center;

        @include breakpoint("s") {
            padding: 0;
        }

        @include breakpoint("xl") {
            display: grid;
            grid-template-columns: repeat(5, 15%);
            overflow: hidden;
            height: fit-content;
        }
    }
}