.team {
    padding: 5em 0;
    background: url("../../assets/images/bg-image-leaves.webp");
    background-attachment: fixed;

    &__header {
        color: $light;
        width: fit-content;
        text-align: center;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 30%);

        @include breakpoint("s") {
            grid-template-columns: repeat(3, 30%);
        }

        @include breakpoint("m") {
            grid-template-columns: repeat(4, 24%);
        }

        @include breakpoint("l") {
            grid-template-columns: repeat(5, 15%);
        }

        justify-content: center;
        margin: auto;
        background-color: rgba(212, 212, 212, 0.1);
        backdrop-filter: blur(3px);
    }
}