@import "../../styles/config.scss";


.about {
    background-color: $light;
    color: $dark;
    padding: 1rem;
    

    &__header {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        max-width: 30em;
        margin: 2em auto;
    }
}