@import "../../styles/config.scss";
@import "../../styles/utilities.scss";


.start {
    display: flex;
    flex-direction: column;
    background: url("../../assets/images/bg-image-leaves-2.jpg");
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    background-size: cover;
    color: $light;
    padding: 2em;

    @include xs {
        min-height: 100vh;
    }

    @include lg {
        min-height: calc(100vh - 170px);
    }
    
    &__willkommen {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;

        @include lg {
            margin: 5em;
        }
    }

    &__button-termin {
        background-color: $red;
        color: $light;
        border: none;
        width: fit-content;
        text-align: center;

        .book-appoi {
            display: block;
            padding: 1rem;
            width: 7rem;
            text-decoration: none;
            color: $light;
            border-radius: 8px;
            
            @include md {
                &:hover {
                    background-color: $light;
                    color: $red;
                }
            }
        }

        
    }

    &__button-scroll {
        position: absolute;
        bottom: 10px;
        align-self: center;
        background-color: transparent;
        color: $light;
        border: none;
        text-align: center;
        margin: 0;

        .arrow-scroll {
            @include md {
                &:hover {
                    color: $red;
    
                }
            }
        }
    }

    
    

    &__arrow {
        color: $light;
        text-decoration: none;
    }
}