@import "../../styles/config.scss";

.header {
    display: flex;
    background-color: $light;
    padding: 0.75em;

    &__image_wrapper {
        margin: auto;
    }

    &__image {
        width: 6em;
    }

    &__nav {
        margin: auto;

        .header__list {
            display: flex;
            flex-direction: row;

            .header__item {
                width: fit-content;
                list-style: none;
                padding: 0 1em;
                margin: auto;

                .header__link {
                    color: $dark;
                    text-decoration: none;

                    &:hover {
                        color: $red;
                    }
                }
            }

        }
    }

}