.header {
    display: flex;
    background-color: #F0F0F0;
    padding: 0.75em;
}

.header__image__wrapper {
    margin: auto;
}

.header__image {
    width: 6em;
}

.header__nav {
    margin: auto;
}

.header__list {
    display: flex;
    flex-direction: row;
}

.header__list__item {
    width: fit-content;
    list-style: none;
    padding: 0 1em;
}

.header__list__item__link {
    color: black;
    text-decoration: none;
    
}

.header__list__item__link:hover {
    color: #820606;
}

.link-location-wrapper {
    padding-left: 9em;
}