@import "../../styles/config.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
    display: flex;
    flex-direction: column;
    background-color: $dark;
    color: $light;
    width: 100%;
    padding: 5em 0;

    &__header-wrapper {
        display: flex;
    }
}

.image-gallery {
    &-content
    &-slide
    &-image {
        height: 35em;
        @include xs { 
            margin-top: 0;
        }
        @include md { 
            margin-top: 3em;
        }
        margin-top: 3em;
    }

    &-play-button {
        display: none;
    }

    &-right-nav {
        @include xs {
            display: none;
        }
        @include md {
            display: inline;
            color: $light;
            filter: none;
        
            &:hover {
                color: $red;
            }
        }
        
    }

    &-left-nav {
        @include xs {
            display: none;
        }
        @include md {
            display: inline;
            color: $light;
            filter: none;
        
            &:hover {
                color: $red;
            }
        }
        
    }

    &-fullscreen-button {
        display: none;
    }

    &-thumbnail {
        &.active {
            border: 3px solid $red;
        }

        &:hover {
            border: 3px solid $red;
        }
    }
}
