@import "../../styles/config.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
    display: flex;
    flex-direction: column;
    background-color: $light;
    color: $dark;
    width: 100%;
    padding: 5em 0;

    &__header-wrapper {
        display: flex;
    }
}

.image-gallery {
    &-content
    &-slide
    &-image {
        height: 30em;
        margin-top: 3em;
    }

    &-play-button {
        display: none;
    }

    &-icon {
        color: $dark;
        filter: none;
        
        &:hover {
            @include xs {
                color: $dark;
            }

            @include md {
                color: $red;
            }
        }
    }

    &-thumbnail {
        &.active {
            border: 3px solid $red;
        }

        &:hover {
            border: 3px solid $red;
        }
    }
}
