.tattoo {
    background: url("../../assets/images/bg-image-leaves-2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #F0F0F0;
}

.tattoo__main__row {
    background-color: #F0F0F0;
    color: black;
    margin: 2em;
    display: flex;
}

.tattoo__main__text__wrapper {
    width: 45%;
    margin: 5em;
}

.tattoo__header {
    font-size: 4em;
    margin: 3em auto;
    text-align: center;
}

.tattoo__main__text__paragraph__wrapper {
    width: 100%;
}

.tattoo__main__text__paragraph {
    margin: 0;
    line-height: 1.6;
}

.tattoo__main__image__wrapper {
    width: 55%;
    display: flex;
}

.-upper {
    justify-content: right;
}

.-lower {
    justify-content: left;
}

.tattoo__main__image {
    height: 35em;
}