@import "../../styles/config.scss";


.tattoo {
    @include xs {
        background: url("../../assets/images/bg-image-leaves-2.jpg");
        background-size: cover;
        flex-direction: column;
        color: $light;
    }
    @include lg {
        backdrop-filter: none;
    }

    &__header {
        margin: 1.75em auto;
        text-align: center;
    }

    &__row {
        @include xs {
            display: flex;
            margin-bottom: 5em;
            overflow: hidden;
            height: 100%;
            backdrop-filter: blur(5px);
        }
        @include sm {
            max-height: 30em;
        }
        @include md {
            margin-bottom: 5em;
        }

        &--text {
            @include xs {
                width: 90%;
                margin: 1em;
                color: $light;
            }
            @include lg {
                width: 65%;
                margin: 5em;
            }
            
        }
        
        &__image {
            @include xs {
                display: none;
            }
            @include md {
                display: flex;
                margin: 0;
                object-fit: cover;
                max-height: 30em;
                width: 25%;
            }
        }
    }
}