@import "../../styles/config.scss";


.tattoo {
    background: url("../../assets/images/bg-image-leaves-2.jpg");
    background-size: cover;
    flex-direction: column;
    color: $light;

    &__header {
        margin: 1.75em auto;
        text-align: center;
    }

    &__row {
        background-color: $light;
        color: $dark;
        display: flex;
        margin: auto;
        margin-bottom: 5em;

        &--text {
            @include xs {
                width: 90%;
                margin: 5em;
            }
            @include lg {
                width: 65%;
            }
            
        }
        
        &--image {
            @include xs {
                display: none;
            }

            @include lg {
                width: 25%;
                height: 35em;
                display: flex;
                object-fit: cover;
            }
            
        }
    }

    &__wrapper {
        width: 45%;
        margin: 5em;
    }
}