@import "../../styles/config.scss";


.tattoo {
    background: url("../../assets/images/bg-image-leaves-2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $light;

    &__header {
        margin: 3em auto;
    }

    &__row {
        background-color: $light;
        color: $dark;
        margin: 0 2em;
        margin-top: 2em;
        display: flex;

        &--text {
            width: 45%;
            margin: 5em;
        }
        &--image {
            width: 25%;
            height: 35em;
            display: flex;
        }
    }

    &__wrapper {
        width: 45%;
        margin: 5em;
    }

    &__image {
    }
}