@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto:wght@300&display=swap");
@import "./styles/config.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
}