@import "../../styles/config.scss";
@import "../../styles/utilities.scss";


.zeiten {
    display: flex;
    color: $light;
    flex-direction: column;
    background-color: $dark;

    &__willkommen {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 8em;
    }

    &__header {
        margin: auto;
        padding: 1em;
        width: 10em;
        text-align: center;
    }

    &__info {
        display: flex;
        width: 100%;
        min-height: 30em;
    }

    &__bgimg {
        background: url("../../assets/images/bg-image-leaves.jpg");
        background-size: cover;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: $light;
        color: $dark;
        align-items: center;
        justify-content: center;
    }

    &__time {
        padding: 0 2em;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
    }
}