@import "../../styles/config.scss";
@import "../../styles/utilities.scss";


.zeiten {
    display: flex;
    color: $light;
    flex-direction: column;
    background-color: $dark;

    &__header {
        margin: auto;
        padding: 1em;
        width: 10em;
        text-align: center;
    }

    &__button {
        background-color: $dark;
        border: none;
        width: 7em;
        margin: auto;
    }

    &__info {
        @include xs {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        @include lg {
            flex-direction: row;
        }
    }

    &__bgimg {
        @include xs {
            width: 100%;
            min-height: 15em;
            background: url("../../assets/images/bg-image-leaves.jpg");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include lg {
            width: 50%;
            min-height: 25em;
        }
    }

    &__list {
        @include xs {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: $light;
            color: $dark;
            align-items: center;
            justify-content: center;
            min-height: 15em;
        }
        @include lg {
            width: 50%;
            min-height: 25em;
        }
    }

    &__time {
        padding: 0 2em;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
    }
}